# This configuration:
# 1. Disables example DAGs
# 2. Forces Airflow to use Moscow timezone
# 3. Enables HTTPS for Webserver
# 4. Exposes config in UI

[core]
load_examples = False 
default_timezone = Europe/Moscow
executor = CeleryExecutor
auth_manager = airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
fernet_key = 
dags_are_paused_at_creation = True
execution_api_server_url = http://airflow-apiserver:8080/execution/

[webserver]
expose_config = True
enable_proxy_fix = True
default_ui_timezone = Europe/Moscow
cookie_secure = True

[api]
base_url = https://localhost:8080
host = 0.0.0.0
port = 8080
ssl_cert = /opt/airflow/ssl/cert.pem
ssl_key = /opt/airflow/ssl/key.pem

[database]
sql_alchemy_conn = postgresql+psycopg2://airflow:airflow@postgres/airflow

[celery]
result_backend = db+postgresql://airflow:airflow@postgres/airflow
broker_url = redis://:@redis:6379/0

[scheduler]
enable_health_check = True
