MOD=dev

HA5__AIRFLOW__IMAGE_TAG=3.1.7                       # Airflow container image tag.
HA5__AIRFLOW__USER=airflow                          # Airflow user name.
HA5__AIRFLOW__PASSWORD=airflow                      # Airflow password for the user.
HA5__AIRFLOW__HOST_NAME=airflow-api                 # Airflow API server host name.
HA5__AIRFLOW__PORT=8080                             # Airflow UI port inside the Docker Compose network.
HA5__AIRFLOW__LOCAL_PORT=8080                       # Airflow UI port to access locally.
HA5__AIRFLOW__POSTGRES__IMAGE_TAG=16                # Airflow database container image tag. 
HA5__AIRFLOW__POSTGRES__HOST_NAME=airflow-postgres  # Airflow database container host name. 
HA5__AIRFLOW__POSTGRES__PORT=5432                   # Airflow database port. 
HA5__AIRFLOW__POSTGRES__DB=airflow                  # Airflow database name. 
HA5__AIRFLOW__POSTGRES__USER=postgres               # Airflow database user. 
HA5__AIRFLOW__POSTGRES__PASSWORD=postgres           # Airflow database password.
HA5__AIRFLOW__USER_ID=1000                          # The uid used by Airflow to access DAGs and other files.

HA5__RESULTS_POSTGRES__IMAGE_TAG=16                # Results database container image tag. 
HA5__RESULTS_POSTGRES__HOST_NAME=results-postgres  # Results database container host name. 
HA5__RESULTS_POSTGRES__PORT=5432                   # Results database port. 
HA5__RESULTS_POSTGRES__DB=results                  # Results database name. 
HA5__RESULTS_POSTGRES__USER=postgres               # Results database user. 
HA5__RESULTS_POSTGRES__PASSWORD=postgres           # Results database password.

HA5__MINIO__IMAGE_TAG=latest        # Minio container image tag.
HA5__MINIO__HOST_NAME=minio         # Minio container host name.
HA5__MINIO__API__PORT=9000          # Minio API port inside the Docker Compose network.
HA5__MINIO__API__LOCAL_PORT=9000    # Minio API port to access locally.
HA5__MINIO__UI__PORT=9001           # Minio UI port inside the Docker Compose network.
HA5__MINIO__UI__LOCAL_PORT=9001     # Minio UI port to access locally.
HA5__MINIO__USER=minio-user         # Minio user.
HA5__MINIO__PASSWORD=minio-password # Minio password.

HA5__HIVE_METASTORE__IMAGE_TAG=4.0.0                                # Hive Metastore container image tag.
HA5__HIVE_METASTORE__HOST_NAME=metastore                            # Hive Metastore container host name.
HA5__HIVE_METASTORE__PORT=9083                                      # Hive Metastore thrift port.
HA5__HIVE_METASTORE__DEFAULT_WAREHOUSE_DIR=s3a://default/warehouse  # Hive Metastore default warehouse location to use.
HA5__HIVE_METASTORE__POSTGRES__IMAGE_TAG=16                         # Hive Metastore database container image tag. 
HA5__HIVE_METASTORE__POSTGRES__HOST_NAME=hive-metastore-postgres    # Hive Metastore database container host name. 
HA5__HIVE_METASTORE__POSTGRES__PORT=5432                            # Hive Metastore database port. 
HA5__HIVE_METASTORE__POSTGRES__DB=metastore                         # Hive Metastore database name. 
HA5__HIVE_METASTORE__POSTGRES__USER=postgres                        # Hive Metastore database user. 
HA5__HIVE_METASTORE__POSTGRES__PASSWORD=postgres                    # Hive Metastore database password.

HA5__TRINO__IMAGE_TAG=475   # Trino container image tag.
HA5__TRINO__HOST_NAME=trino # Trino container host name.
HA5__TRINO__PORT=8080       # Trino API port inside the Docker Compose network.
HA5__TRINO__LOCAL_PORT=8081 # Trino API port to access locally.

HA5__SPARK__IMAGE_TAG=3.5.5                 # Spark container image tag.
HA5__SPARK__MASTER__HOST_NAME=spark-master  # Spark master node host name.
HA5__SPARK__MASTER__API__PORT=7070          # Spark master node API port inside the Docker Compose network.
HA5__SPARK__MASTER__UI__PORT=8080           # Spark master node UI port inside the Docker Compose network.
HA5__SPARK__MASTER__UI__LOCAL_PORT=8082     # Spark master node UI port to access locally.
HA5__SPARK__WORKER__UI__PORT=8080           # Spark worker node UI port inside the Docker Compose network.
HA5__SPARK__WORKER__UI__LOCAL_PORT=8083     # Spark worker node UI port to access locally.
